name: 'Wordpress to Site HMDCC'

on:
  push:
    branches:
      - 'main'

jobs:
  container:
    environment: oci
    name: 'wordpress to site hmdcc'
    runs-on: ubuntu-latest
    env:
      OCI_CLI_USER: ${{ secrets.OCI_CLI_USER }}
      OCI_CLI_TENANCY: ${{ secrets.OCI_CLI_TENANCY }}
      OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CLI_FINGERPRINT }}
      OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CLI_KEY_CONTENT }}
      OCI_CLI_REGION: ${{ secrets.OCI_CLI_REGION }}
      WORDPRESS_DB_HOST: ${{ vars.WORDPRESS_DB_HOST }}
      WORDPRESS_DB_USER: ${{ vars.WORDPRESS_DB_USER }}
      WORDPRESS_DB_PASSWORD: ${{ vars.WORDPRESS_DB_PASSWORD }}
      WORDPRESS_DB_NAME: "hmdcc_site"
      WORDPRESS_TABLE_PREFIX: "apswp_"
       
    steps:

    - if: github.event_name == 'push'
      name: Generate build number Wordpress
      id: buildnumber_wordpress
      uses: onyxmueller/build-tag-number@v1
      with:
        token: ${{secrets.BUILD_GITHUB_TOKEN}}
   
    - name: Check Out Repo 
      if: github.event_name == 'push'
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      if: github.event_name == 'push'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      if: github.event_name == 'push'
      id: buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Wordpress
      if: github.event_name == 'push'
      id: docker_build_wordpress
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/hmdcc:wordpress-v1.${{ steps.buildnumber_wordpress.outputs.build_number }}

    - name: Configure Kubectl
      uses: oracle-actions/configure-kubectl-oke@v1.5.0
      id: Configure-kubectl-oke-action
      with:
        cluster: ${{ secrets.OKE_CLUSTER_OCID }}
    
    - name: Replace image tag in wordpress deployment manifest
      if: github.event_name == 'push'
      run: |
        export TAG_WORDPRESS=${{ steps.buildnumber_wordpress.outputs.build_number }}
        envsubst < k8s/wordpress-deployment.yml > k8s/wordpress-deployment-final.yml
    
    - name: Deploy Wordpress to OCI Kubernetes
      if: github.event_name == 'push'
      run: |
        export OCI_CLI_SUPPRESS_FILE_PERMISSIONS_WARNING=True
        kubectl apply -f k8s/wordpress-ingressroute-traefik.yml
        kubectl apply -f k8s/wordpress-certificate.yml
        kubectl apply -f k8s/wordpress-deployment-final.yml
